[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GRSxE"]
	path = GRSxE
	url = https://github.com/cran/GRSxE
[submodule "logicDT"]
	path = logicDT
	url = https://github.com/cran/logicDT
